* {
    font-size: 14px;
    font-family: 'Fira Code';
    font-weight: Bold;
    /* color: black; */
    color: #d4be98;
}

window#waybar {
    /* background: #212121; */
    /* background: #212121; */
    /* background: #282c34; */
    /* background: #282828; */
    /* color: black; */
    /* background: black; */
    background: transparent;
    /* background: #262727; */
}

.battery-icon {
    background-color: white;
}

#workspaces, #clock.1, #clock.2, #clock.3, #pulseaudio, #backlight, #memory, #cpu, #temperature, #battery, #tray {
    /* background: transparent; */
}

#workspaces button {
    padding: 0 2px;
    margin-right: 8px;
}

#workspaces button.focused {
    /* color: #268bd2; */
    background-color: #504945;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;

    background-color: #ddc7a1;
    color: #262727;
}

#backlight {
    padding-left: 10px;
}

#clock, #memory, #temperature, #battery {
    padding: 0 10px;
}
